@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');

body {
    background: #FFFBF5;
    font-family: "Inter", sans-serif;
}
h1.elegance {
    font-family: "Playwrite AU TAS", cursive;
    font-size: 68px;
}
span.elegance {
    font-family: "Playwrite AU TAS", cursive;
    
}


/* animation */
@keyframes slideLeft {
  0% { opacity: 0; transform: translateX(-80px); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideRight {
  0% { opacity: 0; transform: translateX(80px); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(60px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-slideLeft {
  animation: slideLeft 1.1s ease-out forwards;
}

.animate-slideRight {
  animation: slideRight 1.1s ease-out forwards;
}

.animate-fadeUp {
  animation: fadeUp 1.1s ease-out forwards;
}

/* animation end */
.sign-up {
    transition: 0.3s;
}
.sign-up:hover {
    background: #28af58;
}

.floating {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.7s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0px);
}