@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');

body {
    background: #FFFBF5;
    font-family: "Inter", sans-serif;
}
h1.elegance {
    font-family: "Playwrite AU TAS", cursive;
    font-size: 68px;
}